/* Index Layout & Styling */
.index-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .index-div-container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
  }
  .btn-index{
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #852747;
    border-color: #852747;
    display: inline-block;
    font-weight: 400;
    line-height: 1rem;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;            
  }
  
  /* Login Layout & Stying */
  .login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 2rem 3rem 2rem;
  }
  .login-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .login-heading{
    text-align: center;
  }
  
  /* Todos Layout & Styling */
  .todos-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #852747 solid 5px;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 50px 20px;
    width: 600px;
  }
  .todos-heading{
    text-align: center;
  }
  .logout{
    width: 100px;
    margin-top: 30px;
  }
  .logout-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .todos-formbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  
  /*Styling To-Dos*/
  .completed{
      text-decoration: line-through;
      color: #FF7777;
  }
  .not{
      text-decoration: underline;
  }
  .btn-submit{
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #852747;
    border-color: #852747;
    display: inline-block;
    font-weight: 400;
    line-height: 1rem;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .formbox{
      padding: 7px;
      margin: 3px 3px 3px 3px;
      border-radius: 6px;
      font-size: 1rem;
      background: #fbfbfb;
      border: 2px solid transparent;
      height: 16px;
      box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
  
  }
  /* Universal Styling */
  body{
    background-color: #f4eddc;
  }
  h1 {
    color: #852747;
    font-size: 2.75rem;
    text-align: center;
  }
  h2 {
    color: #FF7777;
    font-size: 1.5rem;
  }
  span, li {
    color: #A2416B;
    font-size: 1.25rem;
  }
  a {
    color: #990a99;
    font-size: 1rem;
    margin: .1rem .2rem .1rem .2rem;
    text-decoration: none;
  }
  .btn{
        cursor: pointer;
        outline: 0;
        color: #fff;
        background-color: #852747;
        border-color: #852747;
        display: inline-block;
        font-weight: 400;
        line-height: 1rem;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 1rem;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;            
      }